* {
	box-sizing: border-box;
}

body {
	background-image: url(https://derpicdn.net/img/2018/10/6/1849557/large.png),
	 url("https://bigwall.ru/upload/iblock/94a/tormoznaya_pruzhina_dlya_tormoznoy_sistemy_trolleya_1_500x500.jpg");
	background-position: left top, left bottom;
	background-repeat: no-repeat, repeat;
	background-attachment: fixed;
	background-size: 50 px 50 px, auto;
	font-family: 'Assistant', 'Aclonica', sans-serif;
	font-size: 19px;
}

.table {
	align-self: flex-start;
}

h1 {
	text-align:center;
	color:black; 
	text-decoration:underline;
}

h2 {
	text-align:center;
	color:green;
	margin:10px
}

a:link, a:visited{
	color: deepPink;
}

a:hover{
	color: slateBlue;
}

a:active{
	color: yellow;
}

table {
	margin-left: 10%;
	margin-bottom: 10px;
	border-collapse: collapse;
}

th, td {
	border: 3px solid #f5f5f5;
	padding: 10px;
	width: 200px;
	height: 50px;
	text-align: center;
}

tr {
	background-color: white;
}

tr:hover, tr:nth-child(odd):hover {
	background-color: hotPink;
}

tr:nth-child(odd) {background-color: #ebedef;}

.wrapper {
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: center;
}

section {
	position: relative;
    margin-bottom: 30px;
	width: 600px;
	height: 500px;
	border: 5px solid hotPink;
    border-radius: 25px;
    background-color: AntiqueWhite;
    box-shadow: 2px 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

section:active {
	border: 5px solid black;
}

.description {
	position: absolute;
	top: 60px;
	right: 10px;
    border: 5px solid violet;
	color:blue;
	text-align:right;
	padding:10px;
	width: 40%;
	height: 70%;
	overflow: auto;
}

.picture {
	position: absolute;
	top: 60px;
	left: 20px;
    border: 5px solid violet;
	color: blue;
	text-align:right;
	padding:10px;
	width: 50%;
	height: 70%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.picture:hover { 
	animation-name: zoom;
	animation-duration: 1s linear;
	animation-fill-mode: forwards;
}

@keyframes zoom {
	0% {background-size: cover;}
	25% {background-size: 150;}
	50% {background-size: 200;}
	75% {background-size: 250;}
	100% {background-size: 300%;}
}

#img1 {
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Springs_009.jpg/250px-Springs_009.jpg");
}

#img2 {
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Ressort_de_compression.jpg/160px-Ressort_de_compression.jpg");
}

#img3 {
	background-image: url("https://besttv232-ynet-images1-prod.cdn.it.best-tv.com/PicServer3/2012/07/15/4041524/404137501000100408612no.jpg");
}

#img4 {
	background-image: url("https://img.apmcdn.org/768cb350c59023919f564341090e3eea4970388c/normal/5034f3-20180309-rick-astley.jpg");
}
